doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.text-center
    div.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto 
        .inner
          h3.masthead-brand Craft Beer Name Demo

      main.inner.cover(role='main')
        block content
      footer.mastfoot.mt-auto
        .inner
          p 
            a(href='https://www.craftbeernamegenerator.com/about.html') This demo uses the craftbeernamegenerator.com API
    script(src='/javascripts/bootstrap.min.js')

